target/
build/
bin/
logs/
work/
Thumbs.db
.DS_Store
.project
.classpath
.springBeans
ivy*.xml
*.class
.settings/
.gradle/
**/ivy*.xml
**/.factorypath
**/.gradle
**/.classpath
**/.project
**/.settings
**/.springBeans
**/classes
**/build
**/bin
**/target
**/logs
**/work
**/MANIFEST.MF
/.apt_generated/
**/.flattened-pom.xml

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr